.contact{
    align-self: center;
    background-color: cadetblue;
    margin-left: 23%;
    margin-right: 23%;
    border: 1px solid black;
    margin-bottom: 0%;
    
}
html{
    background-color:darkcyan;
}