
.btn-group button {
    background-color: #04AA6D; 
    border: 1px solid green; 
    color: white;
    padding: 10px 24px; 
    cursor: pointer; 
    float: left; 

 
    
    left: 20%;
    margin-top: 10%;

}
  
  .btn-group button:not(:last-child) {
    border-right: none;
  }
  

  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  .btn-group button:hover {
    background-color: #3e8e41;
  }
  h1{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      
      text-align :center;

  }

